/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    height: auto;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    gap: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h1 {
    height: auto;
    font-size: 22px;
    font-weight: 700;
}

h2 {
    height: auto;
    font-size: 16px;
    font-weight: 700;
}

h3 {
    height: auto;
}

/****** Logo et Menu ***********/
header{
    display: flex;
    width: 100%;
    height: 79px;
    justify-content: space-between;
}

header > img {
    width: 161.09px;
    padding: 30px 50px;
}

.menu-container {
    display: flex;
    height: 35px;
    left: 1096px;
    padding: 0 50px;
    gap: 68px;
}

.menu-container > input {
    text-align: center;
    background: transparent;
    padding: 0;
    border: none;
    border-top: 2px solid transparent;
}

.menu_hebergements {
    width: 113px;
    height: 35px;
}

.menu_activites {
    width: 63px;
    height: 35px;
}

.menu-container > input:hover {
    color: #0065FC;
    border-color: #0065FC;
}

/****** Recherche ***********/

nav {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 35px;
}

.titre-recherche-container {
    display: flex;
    flex-direction: column;
    height: 53px;
    width: 100%;
    gap: 8px;
}

.recherche-container {
    display: flex;
    flex-direction: row;
    height: 49px;
    width: 377px;
    gap: 24px;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
    background-color: white;
}

.recherche-icone{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49px;
    min-width: 50px;
    border: 1px solid var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: black;
    background-color: var(--main-bg-color);
}

.recherche-icone > i {
    font-size: 18px;
    color: black;
}

.recherche-container > input {
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.recherche-bouton > i {
    padding: 0;
    width: 17px;
    font-size: 17px;
    text-align: center;
    color: white;
}

.icone-smartphone{
    display: none;
}

.recherche-bouton > span {
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: white;
}

.recherche-container > input[type="text"] {
    min-width: 0;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    border-left: 0;
    border-right: 0;
}

.recherche-container > button {
    width: auto;
    height: 49px;
    padding: 15px 16px 15px 16px;
    border: 1px solid var(--main-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    gap: 10px;
    background-color: var(--main-color);
}

.filtres-container {
    display: flex;
    height: 50px;
    width: fit-content;
    max-width: 100%;
    gap: 15px;
    align-items: center;
    justify-content: left;
}

.filtres-container > h2 {
    font-size: 18px;
}

.bloc-bouton-container {
    display: flex;
    height: 50px;
    width: fit-content;
    max-width: 100%;
    gap: 15px;
    align-items: center;
    justify-content: left;
    border: 0;
    padding: 0;
}

.bloc-bouton-container > button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: auto;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    background-color: transparent;
}

.bloc-bouton-container > button:hover {
    background-color: #DEEBFF;
}

.bloc-bouton-container > button > i {
    font-size: 22px;
}

.bloc-bouton-container > button > span {
    font-size: 17px;
    font-weight: 700;
}

.info-recherche-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px;
    width: auto;
    gap: 10px;
}

.info-recherche-container > i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.card-title {
    height: auto;
    font-size: 16px;
    font-weight: 700;
}

.card-subtitle {
    margin: 0;
    height: auto;
    font-size: 14px;
    font-weight: 400;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 30px;
    gap: 30px;
    background-color: var(--main-bg-color);
}

.hebergements > h2 {
    width: 100%;
    height: 21px;
}

.hebergements > h2 > a {
    font-size: 18px;
    font-weight: 700;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 30px;
}

.hebergements-cards > a {
    width: calc(33.33% - 20px);
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 4px;
    padding: 0 0 15px 0;
    border-radius: 20px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border: 5px solid white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
    gap: 8px;
    box-sizing: border-box;
}

.hebergements-cards .card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hebergements-cards .card-title {
    padding: 0 0 3px 0;
}

.hebergements-cards .card-rating {
    font-size: 13.25px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 30px;
    gap: 30px;
}

.activites-title {
    height: 30.02px;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 30px;
}

.activites-cards > a {
    width: calc(25% - 22.5px);
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 439px;
    border: 0;
    padding: 0;
    border-radius: 20px;
}

.activites-cards img {
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-txt {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.activites-cards .card-title {
    padding: 20px 19px 20px 19px;
    gap : 10px;
}




/****** Pied de Page ***********/

footer {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    background-color: #F2F2F2;
}

footer > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33%;
    padding: 20px;
    gap: 15px;
}

footer > div > h2 {
    height: 21px;
    font-size: 18px;
}

footer > div > a {
    height: 19px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filtres-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        width: 100%;
    }

    .main-container {
        padding: 0;
    }

    header{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
    }

    .texte-desktop{
        display: none;
    }

    .icone-smartphone{
        display: inline;
    }

    .menu-container > input {
        border: none;
        border-bottom: 2px solid transparent;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    .titre-recherche-container {
        flex-direction: column;
        justify-content: center;
    }

    .filtres-container {
        height: auto;
    }

    .bloc-bouton-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        gap: 10px;
    }

    .bloc-bouton-container > button {
        width: calc(50% - 5px);
    }

    .info-recherche-container {
        height: auto;
        width: 100%;
        gap: 10px;
    }

    .hebergements {
        order: 2;
        padding: 20px;
        gap: 15px;
        background-color: transparent;
    }

    .hebergements-cards {
        flex-direction: column;
        align-items: center;
    }

    .hebergements-cards > a {
        width: 100%;
    }

    .populaires {
        order: 1;
        padding: 30px 20px 30px 20px;
        margin: 0;
        gap: 15px;
    }

    .populaires-cards {
        flex-direction: column;
        align-items: center;

    }

    .populaires-cards > a {
        width: 100%;
    }

    .activites {
        padding: 30px;
        gap: 30px;
    }

    .activites-cards {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .activites-cards > a {
        width: 100%;
    }

    footer {
        flex-direction: column;
        padding: 30px;
        gap: 50px;
    }

    footer > div {
        height: auto;
        width: auto;
        padding: 0;
    }

}