/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: default;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
}

#editProjects {
  font-family: 'Work Sans';
  font-size: 14px;
  font-weight: 400;
  color: black;
  cursor: pointer;
  margin-left: 30px;
}

#editProjects i {
  margin-right: 10px;
}

.filters {
	display: flex;
	justify-content: center;
	height: 37px;
	gap: 10px;
	margin-bottom: 30px;
}

.filters button{
	min-width: 100px;
	padding: 0px 10px 0px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0%;
	color: #1D6154;
	background-color: transparent;
}

.filters button.selected{
	color: white;
	background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login {
	width: 50%;
	margin: auto;
}

#login>* {
	text-align: center;
}

#login h2 {
	margin-bottom: 20px;
}

#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}

#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#loginBtn.current {
  font-weight: 600;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
	background-color: white;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Banière d'édition*/

body.edit-mode {
  padding-top: 59px;
}

.editBanner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: black;
	color: white;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	text-align: center;
	padding: 20px 0;
	z-index: 2000; 
}

.editBanner p {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px; 
}

/* Modale d'édition*/

.editModal {
	display: block;
	position: fixed;
	z-index: 1001;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
	opacity: 1;
	pointer-events: auto;
	transition: opacity 300ms ease-out;
}

.editModal.hidden {
	opacity: 0;
	pointer-events: none;
}

/* Contenu de la modale */

.modalContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 630px;
	background-color: #fff;
	margin: 10% auto;
	padding: 26px;
	border-radius: 8px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modalContentNav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.modalContent h2{
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	color: black;
	text-align: center;
	margin-top: 10px;
}

#addWork {
	width: 237px;
	height: 36px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	font-style: bold;
	line-height: 100%;
	letter-spacing: 0%;
	color: white;
	background-color: #1D6154;
	cursor: pointer;
}

#addWork:disabled{
	border-color: #A7A7A7;
	background-color: #A7A7A7;
	cursor: not-allowed;
}

.editGallery figure {
	position: relative;
}

.editGallery {
	width: auto;
	margin: 46px 105px 38px 105px;
	padding-bottom: 68px;
	border-bottom: 1px solid #B3B3B3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.editGallery img {
	width: 100%;
}

.delete-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	background: black;
	color: white;
	border: none;
	border-radius: 3px;
	padding: 5px;
	cursor: pointer;
}

.delete-btn i{
	pointer-events: none;
}

/* Section ajout photo Modale */

.addPhoto {
	width: calc(100% - 210px);
	margin: 46px 105px 38px 105px;
	padding-bottom: 47px;
	border-bottom: 1px solid #B3B3B3;
}

.addPhoto form {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.addPhoto label {
	width: 100%;
	text-align: left;
    font-family: 'Work Sans';
    font-size: 14px;
	font-weight: 500;
	margin-top: 30px;
	margin-bottom: 10px;
}

#photoTitle, #photoCategory {
	padding: 0 25px;
	height: 51px;
	background-color: white;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	color: #444444;
}

#photoCategory {
	padding-right: 30px;
}

.photoBrowser {
	width: 100%;
	height: 169px;
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 7px;
	border-radius: 5px;
}

.photoBrowser > label {
	width: fit-content;
	padding: 10px 33px;
	margin: 0;
	border: 1px solid #CBD6DC;
	border-radius: 60px;
	letter-spacing: 0%;
	color: #306685;
	background-color: #CBD6DC;
	cursor: pointer;
}

.photoBrowser input {
	display: none;
}

.photoBrowser h4 {
	font-size: 10px;
	font-weight: 400;
	font-family: 'Work Sans';
	padding: 1px 0;
}

.photoIcon {
	font-size: 76px;
	color: #B9C5CC;
}

/* Bouton retour */
.return {
	visibility: hidden;
	font-size: 21px;
	color: black;
	font-weight: bold;
	cursor: pointer;
}

/* Bouton fermer */
.close {
	font-size: 24px;
	color: black;
	font-weight: bold;
	cursor: pointer;
}

/* Masquage */
.hidden {
	display: none;
}
